@import url("https://fonts.cdnfonts.com/css/ds-digital");

body {
  margin: 0;
  padding: 0;
  background-color: #0e0d0d;
  color: #fff;
  font-family: sans-serif;
  user-select: none;
  font-family: "DS-Digital", sans-serif;
}

.ds-digital {
  font-family: "DS-Digital", sans-serif;
}

button {
  padding: 0.93vh 1.85vh;
  margin: 0.46vh;
  background-color: #333;
  border: none;
  color: #fff;
  cursor: pointer;
}

input {
  padding: 0.93vh;
  margin: 0.46vh;
}

.card {
  border: 0.09vh solid #444;
  padding: 1.85vh;
  margin: 0.93vh;
  border-radius: 0.74vh;
  background-color: #1a1a1a;
}

.timer {
  text-align: center;
  font-family: "DS-Digital", sans-serif;
  font-size: 23.15vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.timer h1 {
  font-size: 23.15vh;
}

.texte {
  text-align: center;
  font-family: "DS-Digital", sans-serif;
  font-size: 23.15vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.secondary-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.main-screen .logo {
  width: 87.96vh;
  aspect-ratio: 1068.66/200;
  flex-shrink: 0;
}

.secondary-screen .logo-container .logo {
  width: 37.04vh;
  aspect-ratio: 1068.66/200;
  flex-shrink: 0;
}

.secondary-screen .timer {
  font-size: 9.26vh;
}

.textemediasecondary {
  font-size: 9.26vh !important;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
  color: white;
  white-space: nowrap;
}

.textemediamain {
  font-size: 23.15vh !important;
  color: white;
  margin: 0;
}

.countdown-screen {
  font-size: 27.78vh;
}

.settings-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dashboard-container,
.login-container,
.receiver-home,
.emitter-settings,
.notfound-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "DS-Digital", initial;
}

.login-container h1 {
  font-size: 6.02vh;
  margin-bottom: 4.63vh;
}

.button-group {
  display: flex;
  flex-direction: grid;
  align-items: center;
  gap: 4.63vh;
}

.dashboard-container h1 {
  font-size: 6.02vh;
  margin-bottom: 4.63vh;
}

h1 {
  font-size: 6.02vh;
  margin-bottom: 4.63vh;
}

.global-settings {
    display: flex;
    flex-direction: column;
    color: white;
}

.button-group button {
  width: 27.78vh;
  height: 9.72vh;
  cursor: pointer;
  font-size: 1.8519vh;
}

.logo {
  margin: 1.85vh;
}

.global-settings {
  display: flex;
}

.global-settings1 {
  display: flex;
  flex-direction: column;
}
