@import url("https://fonts.cdnfonts.com/css/ds-digital");

body {
  margin: 0;
  padding: 0;
  background-color: #0e0d0d;
  color: #fff;
  font-family: sans-serif;
  user-select: none;
  font-family: "DS-Digital", sans-serif;
}

.ds-digital {
  font-family: "DS-Digital", sans-serif;
}

button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #333;
  border: none;
  color: #fff;
  cursor: pointer;
}

input {
  padding: 10px;
  margin: 5px;
}

.card {
  border: 1px solid #444;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  background-color: #1a1a1a;
}

.timer {
  text-align: center;
  font-family: "DS-Digital", sans-serif;
  font-size: 250px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.timer h1 {
  font-size: 250px;
}

.texte {
  text-align: center;
  font-family: "DS-Digital", sans-serif;
  font-size: 250px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.secondary-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.main-screen .logo {
  width: 950px;
  aspect-ratio: 1068.66/200;
  flex-shrink: 0;
}

.secondary-screen .logo-container .logo {
  width: 400px;
  aspect-ratio: 1068.66/200;
  flex-shrink: 0;
}

.secondary-screen .timer {
  font-size: 100px;
}

.textemediasecondary {
  font-size: 100px !important;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0px;
  color: white;
  white-space: nowrap;
}

.textemediamain {
  font-size: 250px !important;
  color: white;
  margin: 0;
}

.countdown-screen {
  font-size: 300px;
}

.settings-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dashboard-container,
.login-container,
.receiver-home,
.emitter-settings,
.notfound-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "DS-Digital", initial;
}

.login-container h1 {
  font-size: 65px;
  margin-bottom: 50px;
}

.button-group {
  display: flex;
  flex-direction: grid;
  align-items: center;
  gap: 50px;
}

.dashboard-container h1 {
  font-size: 65px;
  margin-bottom: 50px;
}

h1 {
  font-size: 65px;
  margin-bottom: 50px;
}

.global-settings {
    display: flex;
    flex-direction: column;
    color: white;
}

.button-group button {
  width: 300px;
  height: 105px;
  cursor: pointer;
}

.logo {
  margin: 20px;
}

.global-settings {
  display: flex;
}

.global-settings1 {
  display: flex;
  flex-direction: column;
}
